<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <title>Sell Car Form</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
    integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
</head>

<body style="background-color:DarkGoldenRod;">
  <div class="jumbotron" style="text-align: center; font-size: 40px; font-weight: bold;"> Shady Bros Car Dealership </div>
  <div class="container">
    <h1></h1>
    <form action="/cars" method="post" style="margin-top: 10vw;>
      <div style="display:block;">
        <label for="makeModel">Enter car's make/model</label>
        <input id="makeModel" name="makeModel" type="text" style="position: absolute; right: 59vw;">
        <div style="display:block;">
          <label for="price">Enter car's sell price</label>
          <input id="price" name="price" type="number" style="position: absolute; right: 59vw;">
        </div>
        <div style="display:block;">
          <label for="miles">Enter car's mileage</label>
          <input id="miles" name="miles" type="number " style="position: absolute; right: 59vw;">
        </div>
        <button type="submit">Submit</button>
    </form>
  </div>
</body>

</html>
