<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>Sell Car Form</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
    integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
</head>

<body style="background-color:DarkGoldenRod;">
  <div class="jumbotron" style="text-align: center; font-size: 40px; font-weight: bold;"> Shady Bros Car Dealership
  </div>
  <div class="container">
    <form action="/cars/inpricerange">
      <div style="display:block;">
      <label for="maxPrice">Enter Max Price</label>
      <input id="maxPrice" name="maxPrice" type="text" style="position: absolute; right: 59vw;">
      </div>
      <button type="submit">Submit</button>
    </form>
    <a href="/">Go Home</a>
</body>